body {
    font-family: Calibri, sans-serif;
    margin: 40px;
    background-color: #e7efea; /* A light green background */
    color: #24382d;
}

h1 {
    color: #00b35a;
}

p {
    line-height: .9;
}